@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===== Style sheet ===== */
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* ===== Colors ===== */
    --body-color: #EEEEEE;
    --sidebar-color:  #053B50;
    --primary-color: #64CCC5;
    --secondary-color: #DDD;
    --text-color: #FFF;

    /* ===== Transition ===== */
    --trans-00: all 0.2s ease;
    --trans-01: all 0.3s ease;
    --trans-02: all 0.4s ease;
    --trans-03: all 0.5s ease;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

/* ===== Sidebar styling starts here ===== */

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--trans-02);
    white-space: nowrap;
    opacity: 1;
}

.sidebar header{
    position: relative;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
    font-weight: 300;
    font-size: x-small;
}



.sidebar header .toggle{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    right: -25px;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: (-50%);

}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    font-size: 20px;
    min-width: 60px;
}

.sidebar .menu-bar{
    /* background-color: crimson; */
    height: calc(100% -50px);
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    justify-content: space-between;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--trans-02);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li a{
    display: flex;
    text-decoration: none;
    height: 100%;
    width: 100%;
    align-items: center;
    transition: var(--trans-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--trans-03);
}

.sidebar .image-text img{
    width: 55px;
    border-radius: 6px;
}

.buttom-content{
    position: relative;
    bottom: -180px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.sidebar.close{
    width: 100px;
}

.sidebar.close .text{
    opacity: 0;
}

/* ===== styling of main contents starts here ===== */
.main-container{
    position: absolute;
    width: calc(100% - 284px);
    left: 270px;
    min-height: 100vh;
    padding: 10 10px;
    transition: var(--trans-03);
}

.main-container.active{
    width: calc(100% - 120px);
    left: 110px;
}

.main-header{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 7px -4px rgba( 0, 0, 0, 0.2);
    padding: 10px 10px;

}

.user-img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: crimson; */
    width: 10%;
}

.user-img{
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    
}

.user-img img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .user-img i{
    position: absolute;
    top: 0;
    font-size: xx-large;
    color: var(--sidebar-color);
    right: 0;
    margin-left: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.search{
    width: 400px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 200;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid var(--secondary-color);
}

.search label i{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
}

.welcome{
    margin: 20px;

}
/* ========== box info starts here ================ */
.card-box{
    margin-top: 50px;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card{
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--primary-color);
    padding: 30px;
    box-shadow: 0 6px 7px -4px rgba( 0, 0, 0, 0.2);
}

.numbers{
    position: relative;
    color: var(--text-color);
}

/* .cardName{

} */

.iconbox{
    font-size: 1.5rem;
    color: var(--text-color);
}

.card-box .card:hover{
    background-color: var(--sidebar-color);
}

/* ====================== chart contents starts here ============================= */

.charts{
    /* background-color: crimson; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}

.charts-card{
    background-color: var(--secondary-color);
    margin-top: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba( 0, 0, 0, 0.2);
}

.chart-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#bar-chart{
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    height: 250px;
}

#pie-charts{
    display: flex;
    justify-content: center;
    height: 20px;
}